<div class="d-flex mb-40">
  <%= link_to "Demandes", company_admin_employee_applications_path, class: "button" %>
  <%= link_to "Missions", company_admin_candidacies_path, class: "button" %>
  <%= link_to "Contrats", "", class: "button" %>
</div>

<div class="d-flex" data-controller="display">
  <%= render partial: "list", locals: {employee_applications: @employee_applications} %>
  <div data-display-target="output"></div>
</div>
