<%= render partial: "company_admin/shared/demands_tabs" %>

<div class="d-flex" data-controller="display">
  <%= render partial: "list", locals: {employee_applications: @employee_applications} %>
  <div data-display-target="output"></div>
</div>
