<%= render partial: "company_admin/shared/demands_tabs" %>

<div class="d-flex">
  <%= render partial: "list", locals: {employee_applications: @employee_applications} %>
  <div>
    <div class="pl-40 w-100 max-w-400">
      <h5 class="text-main mb-20 fw-6">Demande d'éligibilité refusée</h5>
      <%= render partial: "summary", locals: {employee_application: @employee_application}  %>
      <h6>Votre réponse :</h6>
      <p class="mb-40"><i>"<%= @employee_application.response_msg %>"</i></p>
    </div>
  </div>
</div>
