<%= render partial: "company_admin/shared/users_nav" %>

<div class="d-flex">
  <%= render partial: "list", locals: {employee_applications: @employee_applications} %>
  <div><%= render partial: "summary", locals: {employee_application: @employee_application} %></div>
</div>
