<div class="h-100">
  <iframe frameborder="0" class=" h-100 w-100 pb-50" src="https://docs.google.com/document/d/e/2PACX-1vSBm3Kdch6RYCzBg3Vj8tQEpfdZE0tCDn6qaB3jH8qXyRcn6NCiLE3TBL9sA6lBAZs4SrvZ2aZOVbQP/pub?embedded=true"></iframe>
</div>
