// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #2A2D34;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-grey: #FFFBFE;
$dark-grey: #2A2D34;
$second-flag-color: #6EEB83;

$first-flag-color: #CD5D67;
$first-flag-darker: #bb3a44;

$first-main-color: #531cb3;
$first-main-darker: #3e1584;

$first-light-color: #e2d8f4;
$first-light-darker: #d2c3ef;
$first-light-lighter: #f5f1fb;
