<%= image_tag(attachments['logo_dark.png'].url, style: "margin-left: auto; margin-right: auto; width: 100%; max-width: 200px; display: block; ", alt: "Logo Demain") %>
<br>
<br>

<h1 style="font-family: sans-serif; font-weight: 600; font-size: 25px; color: #531cb3;">Hello <%= @user.first_name %> !</h1>
<br>

<p style="font-family: sans-serif;">Votre compte a bien été créé, et on est ravis que vous rejoigniez notre communauté. On a hâte de vous aider à vous engager durablement pour de belles causes.</p>
<p style="font-family: sans-serif;">N'hésitez pas à compléter votre profil pour que l'on puisse vous proposer les projets les plus en lien avec vos aspirations et vos compétences :</p>
<br>

<a href=<%= new_candidate_url %> style="
    font-size: 15px;
    padding: 10px 20px;
    background-color: #531cb3;
    color: white;
    border-radius: 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 600;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  ">Compléter mon profil</a>
<br>

<p style="font-family: sans-serif;">Les associations et autres acteurs de l'intérêt général n'attendent plus que vous, votre talent, vos compétences et votre enthousiasme !</p>
<p style="font-family: sans-serif;">Vous pouvez déjà jeter un oeil et candidater aux offres actuellement disponibles sur le site :</p>
<br>

<a href=<%= offers_url %> style="
    font-size: 15px;
    padding: 10px 20px;
    background-color: white;
    color: #531cb3;
    border-radius: 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 600;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    border: solid 1px #531cb3
  ">Consulter les missions</a>
<br>

<p style="font-family: sans-serif;">En cas de pépin n'hésitez pas à nous contacter ici: <a style="font-weight: bolder; color: #531cb3;" href="mailto:contact@demain.works">contact@demain.works</a></p>
<br>

<p style="font-family: sans-serif;">L'équipe <strong>Demain</strong></p>
<p>🙌</p>
