<div class="flex-center-left mb-30 max-w-1200">
  <%= link_to "Missions en attente", company_admin_missions_path(status: params[:status]), class:"fs-h5 fw-5" %>
  <i class="fa-solid fa-chevron-right fs-15 mr-10 ml-10"></i>
  <h5 class="fw-7 text-main no-wrap mr-30">Mission</h5>
</div>
