<div class="mb-20">
  <%= render partial: "tabs" %>
</div>
<div class="d-flex">
  <%= render partial: "list" %>
  <div class="mb-40 ml-40 max-w-400 w-100">
    <h5 class="mb-10 fw-7 text-main">Mission active</h5>

    <div class="mb-10 w-100">
      <%= render partial: "summary" %>

      <%= link_to "", class: "w-100 button round bg-main-to-dark text-white bn-none" do %>
        <i class="fa-solid fa-eye mr-10"></i>
        Voir le reporting associé
      <% end %>

    </div>
  </div>
</div>
