<div class="flex-center-left mb-30 max-w-1200">
  <h5 class="fw-7 text-main no-wrap mr-30">Missions en attente</h5>
</div>

<div class="d-flex">
  <%= render partial: "list", locals: {missions: @missions, candidacies: @candidacies} %>
</div>
