.filter-icon{
  z-index: 1;
  position: sticky;
  top: 60px;
  transform: translateY(25px);
  outline: 3px solid white;
  color: $first-main-color;
  background-color: $first-light-color;
  border-radius: 50%;
  padding: 10px;
  height: 36px;
  width: 36px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover{
    background-color: $first-light-darker;
    transition: 0.2s ease-in-out;
  }
  div{
    font-size: 8px;
    background-color: $first-flag-darker;
    color: white;
    border-radius: 50%;
    position: relative;
    top: -30px;
    right: -15px;
    padding: 4px;
    height: 16px;
    width: 16px;
  }
}

.search-form-ctn{
  background-color: $first-light-lighter;
  border-radius: 50px 50px 0 0;
  padding: 40px;
  justify-content: left;
  >div{
    flex: 1;
  }
  p{
    font-weight: 400;
    font-size: 15px;
  }
  .fa-regular.fa-heart, .fa-solid.fa-globe{
    width: 35px;
    text-align: center;
  }
  .pill-ctn{
    label{
      border: solid 1px rgb(200, 200, 200);
    }
  }
  .slider-ctn{
    i{
      width: 25px;
    }
    >div{
      height: 30px;
    }
  }
  .pill-ctn>label{
    padding: 5px 10px;
  }
}

@media (min-width: $bp-md) and (max-width: $bp-lg) {
  .search-form-ctn{
    .resp-display{
      display: none;
    }
  }
}

@media (max-width: $bp-md) {
  .search-form-ctn{
    padding: 40px 10vw;
  }
}

@media (max-width: 410px) {
  .search-form-ctn{
    .resp-display{
      display: none;
    }
  }
}

.search-filters-ctn{
  background-color: $light-grey;
  overflow: hidden;
  max-height: 200px;
  transition: 0.2s ease-in-out;
  >div{
    padding: 20px;
  }
  @media (max-width: $bp-md) {
    max-height: calc(100vh - 70px);
  }
}

.search-filters-btn{
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -20px;
  background-color: $first-light-color;
  transition: 0.2s ease-in-out;
  i{
    color: $first-main-color
  }
  &:hover{
    background-color: $first-light-darker;
    transition: 0.2s ease-in-out;
  }
  span{
    font-size: 8px;
    background-color: $first-flag-darker;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: -15px;
    padding: 4px;
    height: 16px;
    width: 16px;
  }
}
.search-filters-ctn[collapsed]{
  max-height: 0px;
  transition: 0.2s ease-in-out;
}
.search-filters-btn[collapsed]{
  background-color: $first-main-color;
  &:hover{
    background-color: $first-main-darker;
  }
  i{
    color: white;
  }
}
#preview{
  width: 100%;
}

.slide-up-ctn{
  .slide-up-target{
    top: 100%;
  }
  &:hover{
    .slide-up-target{
      top: 0%;
    }
  }
}
