.beneficiary-card{
  border-radius: 20px;
  border: solid 1px $first-main-color;
  padding: 20px 20px;
}

.lhs-beneficiary-card{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

@media(max-width: 720px) {
  .lhs-beneficiary-card{
    width: 100%;
    margin-bottom: 20px;
  }
}

.sticky-placeholder{
  flex-shrink: 0.5;
  width: 450px;
  margin-right: 20vw;
  @media(max-width: 1600px) {
    margin-right: 10vw;
    }
  @media(max-width: 720px) {
    margin-right: 5vw;
    }
}

.sticky-box{
  min-width: 300px;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  margin: 1.5rem;
  align-self: flex-start;
}

.offer-flex-resp{
  display: flex;
}

.mobile-sticky-ctn{
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  z-index: 2;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: white;
  padding-top: 1rem;
  display: none;
}

.resp-lhs-padding{
  padding-right: 0;
  .title{
    padding-top: 3rem;
  }
}

@media(max-width: $bp-sm) {
  .sticky-placeholder{
    width: 100%;
  }
  .offer-flex-resp{
    flex-direction: column-reverse;
  }
  .sticky-box{
    .dynamic-apply-ctn{
      display: none;
    }
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .mobile-sticky-ctn{
    display: unset;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .resp-lhs-padding{
    padding-right: 5vw !important;
    .title{
      padding-top: 0;
    }
    .title-separator{
      display: none;
    }
  }
}

.height-46{
  height: 46px;
}

.offer-preview-cta{
  width: 120px;
  flex-shrink: 0;
  text-align: center;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 1250px) {
    width: 100%;
    margin-top: 10px;
  }
}

.grey-id-card{
  height: calc((100vh - 55px) / 3);
  min-height: 190px;
  overflow: hidden;
}

.bottom-fader{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5vh;
}

.ontop-fader{
  width: 100%;
  position: absolute;
  top: -5vh;
  right: 0;
  height: 5vh;
}

.offer-preview-ctn{
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 55px;
  >div{
    max-height: calc(100vh - 55px - 0.5rem);
    padding-bottom: calc(5vh + 46px);
  }
  overflow: hidden;
}

.sticky-bottom-cta{
  position: absolute;
  bottom: 0;
  width: 100%;
  @media(max-width: 1000px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5vw;
    background-color: white;
  }
}

[data-search-form-target="card"] {
  >div{
    max-width: 50vw;
  }
}

@media(max-width: 1000px) {
  .offer-preview-ctn {
    position: fixed;
    align-self: auto;
    height: auto;
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    padding: 55px 5vw 5vw 5vw;
    >div{
      max-height: 100%;
      // padding-bottom: calc(5vh + 46px);
    }
    >span{
      position: fixed;
      top: 0;
      left: 0;
      height: 120%;
      width: 100%;
      background-color: white;
      z-index: 0;
    }
  }
  .offer-preview-ctn[data-active="true"]{
    display: unset;
  }
  [data-search-form-target="card"] {
    >div{
      max-width: none;
    }
    }
}

.close-btn{
  position: fixed;
  top: 17px;
  right: 5vw;
  min-width: 36px;
  height: 36px;
  border-radius: 50em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
  @media(min-width: 1000px) {
    display: none;
  }
}


.preview-box{
  display: flex;
  flex-direction: column;
  >div:last-child{
    margin-top: 10px;
    margin-left: 0;
  }
  @media (min-width: $bp-xs) and (max-width: $bp-md) {
    flex-direction: row;
    >div:last-child{
      margin-top: 0;
      margin-left: 20px;
    }
  }
  @media (min-width: $bp-md) and (max-width: $bp-lg) {
    flex-direction: column;
  }
  @media (min-width: $bp-lg) {
    flex-direction: row;
    >div:last-child{
      margin-top: 0;
      margin-left: 10px;
    }
  }
}
