.on-boarding-cards {
  img{
    top: 15px;
    right: 15px;
  }

  >div{
    background-color: $grey-low;
    border-radius: 40px;
  }

  h5,h6{
    color: $grey-mid;
  }

  [data-active="true"] {
    background-color: $first-light-color;
    outline: $first-light-lighter solid 10px;
    transition: 0.3s ease-in-out;
    h6{
      color: $first-main-color;
      font-weight: 600;
    }
    h5{
      transition: 0.2s ease-in-out;
      color: white;
      background-color: $first-main-color;
    }
    &:hover{
      transition: 0.3s ease-in-out;
      outline: $first-light-color solid 10px;
      h5{
        transition: 0.2s ease-in-out;
        background-color: $first-main-darker;
      }
    }
    .slide-up-target{
      p{
        color: white;
      }
    }
  }


  [data-validated="true"] {
    background-color: white;
    border: $flag-color-3 solid 3px;
    h6, h5 {
      color: $flag-color-3;
    }
  }

  [data-pending="true"] {
    border: $flag-color-1 solid 3px;
      h6 {
        color: $flag-color-1;
      }
      i{
        color: white;
        background-color: $flag-color-1;
      }
  }

  [data-active="false"]{
    a{
      pointer-events: none;
    }
    .slide-up-target{
      background-color: $first-light-lighter;
      p{
        color: $first-main-darker;
      }
    }
  }
}

.on-boarding-cards-mobile{
  display: inline-flex;
  p{
    height: 0;
    overflow: hidden;
    transition: 0.1s ease-in-out;
  }
  a{
    pointer-events: none;
  }
  &:hover{
    p{
      height: 50px;
    }
  }

  a, h5 {
    color: $grey-mid;
    padding: 5px 10px;
  }
  [data-swipe-target="card"]{
    background-color: $light-gray;
    height: 100%;
    width: 96vw;
    img{
      top: 15px;
      right: 15px;
    }
    &[data-active="true"] {
      transition: 0.2s ease-in-out;
      a{
        color: $first-main-color;
        font-weight: 600;
        pointer-events: all;
        border: 1px $first-main-color solid;
        border-radius: 50em;
      }
      h5{
        transition: 0.2s ease-in-out;
        color: white;
        background-color: $first-main-color;
      }
    }
    &[data-validated="true"] {
      background-color: $light-gray;
      a, h5 {
        color: $flag-color-3;
      }
    }
  }
}

[data-swipe-target="dot"]{
  transition: 0.2s ease-in-out;
  &[data-active="true"]{
    background-color: $first-main-color;
    scale: 1.2;
  }
}
