.on-boarding-cards {
  >div{
    transition: 0.2s ease-in-out;
    i{
      transition: 0.2s ease-in-out;
    }
    &:hover{
      background-color: $first-light-lighter;
      transition: 0.2s ease-in-out;
      i{
        transition: 0.2s ease-in-out;
      }
    }
  }
  [data-active="true"] {
    background-color: $first-light-color;
    outline: $first-light-lighter solid 10px;
    &:hover{
      i{
        color: white;
        background-color: $first-main-color;
      }
    }
  }
  [data-validated="true"] {
    border: $flag-color-3 solid 3px;
      h6 {
        color: $flag-color-3;
      }
      i{
        color: white;
        background-color: $flag-color-3;
      }
  }
  [data-pending="true"] {
    border: $flag-color-1 solid 3px;
      h6 {
        color: $flag-color-1;
      }
      i{
        color: white;
        background-color: $flag-color-1;
      }
  }
  [data-active="false"]{
    a{
      pointer-events: none;
    }
  }
}
