<div class="w-100 flex-center mb-15">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= form_for "Login",
        url: omniauth_authorize_path(resource_name, provider),
        method: :post,
        class: "w-100",
        data: {turbo: "false"} do |f| %>
          <button type="submit" class="grey-border round text-grey bg-white-to-shade square-40 w-100 flex-center button">
            <%= image_tag("google_logo.png", class: "h-100 mr-20") %>
            Avec mon compte Google
          </button>
      <% end %>
    <% end %>
  <% end %>
</div>
