<% bg_img = @selection.beneficiary.photo.attached? ? cl_image_path(@selection.beneficiary.photo.key) : cl_image_path('../default_banner_bg.jpg') %>
<% b_logo = @selection.beneficiary.logo.attached? ? cl_image_tag(@selection.beneficiary.logo.key, alt:"logo de l'association #{@selection.beneficiary.name}") : image_tag('illustration5.png', alt: "logo d'association") %>

<div class="mb-40 w-100 max-w-400">

  <%= render partial: "company_user/shared/offer_card", locals: {offer: @selection.offer} %>

  <div class="bg-shade p-20">
    <h6 class="text-main mb-10 fw-7">Aperçu de la mission</h6>
    <%= @selection.offer.summary %>
  </div>

</div>
