<div class="d-flex" data-controller="display">

  <%= render partial: "list", locals: {selections: @selections} %>

  <div class="pl-40 w-100">
    <div data-display-target="output"></div>
  </div>

</div>
