<h5 class="fw-7 text-main mb-30">Suggestions</h5>
<div class="d-flex md-resp-flex-col">
  <%= render partial: "list", locals: {candidacies: @candidacies} %>
  <div class="w-100 max-w-400 ml-40 md-resp-ml-0 p-60">
    <%= image_tag("search_illustration.svg", class:"w-100 max-w-200") %>
  </div>
</div>
