<h5 class="fw-7 text-main mb-30">Suggestions</h5>

<div class="d-flex">
  <%= render partial: "summary" %>
  <div class="ml-40 w-100 max-w-400">
    <div class="w-100">
      <div class="mb-20">
        <h5 class="text-main">Vous avez candidaté</h5>
        <% if @selection.abandonned? %>
          <p>Votre candidature n'a pas abouti malheureusement</p>
        <% else %>
          <p>Bravo pour votre candidature ! Vous pouvez consulter l'avancement ici :</p>
        <% end %>
      </div>
      <%= link_to user_candidacy_path(@selection), class: "w-100 button round bg-main-to-dark text-white bn-none" do %>
        <i class="fa-solid fa-eye mr-10"></i>
        Voir l'avancement de votre candidature
      <% end %>
    </div>
  </div>
</div>
