<% if resource.id.nil? %>

  <button type="submit" class="flex-center button bn-none bg-white center-margin">
    <i class="fa-solid fa-heart mr-10 text-flag-2"></i>
    Ajouter à mes favoris
  </button>

<% elsif !resource.active %>

  <button type="submit" class="flex-center button bn-none bg-white center-margin">
    <i class="fa-solid fa-heart mr-10 text-flag-2"></i>
    Remettre dans mes favoris
  </button>

<% else %>

  <button type="submit" class="flex-center button bn-none bg-white center-margin">
    <i class="fa-regular fa-heart mr-10 text-flag-2"></i>
    Retirer de mes favoris
  </button>

<% end %>
