<div class="flex-center-left mb-30 max-w-1200">
  <h5 class="fw-7 text-main no-wrap mr-30">Votre historique</h5>
  <div class="sub-tabs">
    <span></span>
    <%= link_to "Candidatures", user_past_candidacies_path, class: "sub-tab", data: {turbo: false, active: @tab == 6} %>
    <%= link_to "Missions", user_past_missions_path, class: "sub-tab", data: {turbo: false, active: @tab == 7} %>
  </div>
</div>
