<%= render partial: "shared/navpan", locals: {active: 0} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
  <h3>Bienvenue <%= current_user.first_name %> !</h3>
  <p>Tu trouveras ici toutes les infos dont tu as besoin en tant qu'administrateur de ce merveilleux site, conçu avec amour et beaucoup de goût</p>
  </div>
  <div class="navpan-white-ctn">

  <h6>On verra à l'usage ce qu'on veut retrouver ici</h6>

  </div>
</div>
