<div class="white-wrapper">
  <div class="ctn">
    <div class="flex-resp align-items-center mb-3">
      <%= link_to 'Retour', :back, class: "button btn-light-flag" %>
    </div>

    <h1 class="mt-4 mb-4 text-main fs-4">Mot de passe oublié ?</h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: {turbo: false}) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions flex-resp flex-column align-items-end justify-content-end">
        <%= f.button :submit, "Ré-initialiser", class: "button btn-flag-color mb-3" %>
      </div>
    <% end %>

  </div>
</div>
