.ctn-resp{
  padding-left: 10vw;
  padding-right: 10vw;
  @media(max-width: $bp-sm) {
    padding-left: 5vw;
    padding-right: 5vw;
    }
}

.ctn-resp-sheet{
  margin-left: 10vw;
  margin-right: 10vw;
  @media(max-width: $bp-sm) {
    margin-left: 5vw;
    margin-right: 5vw;
    }
}

.ctn-resp-left{
  padding-left: 10vw;
  padding-right: 0;
  @media(max-width: $bp-sm) {
    padding-left: 5vw;
    padding-right: 5vw;
    }
}

.ctn-resp-right{
  padding-left: 0;
  padding-right: 10vw;
  @media(max-width: $bp-sm) {
    padding-left: 5vw;
    padding-right: 5vw;
    }
}

.sm-resp-ctn{
  padding-left: 0vw;
  padding-right: 0;
  @media(max-width: $bp-sm) {
    padding-left: 5vw;
    padding-right: 5vw;
    }
}
