// FONT SIZES

@each $size in $fs {
  .fs-#{$size}{
    font-size: #{$size}px;
  }
}
.fs-h5{
  font-size: 1.25rem;
  line-height: 1.2;
}

// .fs-10{
//   font-size: 10px;
// }
// .fs-15{
//   font-size: 15px;
// }
// .fs-18{
//   font-size: 18px;
// }
// .fs-20{
//   font-size: 20px;
// }
// .fs-25{
//   font-size: 25px;
// }
// .fs-30{
//   font-size: 30px;
// }
// .fs-60{
//   font-size: 60px;
// }


// FONT WEIGHTS

.fw-7{
  font-weight: 700;
}

.fw-6{
  font-weight: 600;
}

.fw-5{
  font-weight: 500;
}

.fw-4{
  font-weight: 400;
}

.fw-3{
  font-weight: 300;
}
