// Margin utilities

.mb-05{
  margin-bottom: 5px;
}
.mr-05{
  margin-right: 5px;
}


@each $size in $sizes {
  .ml-#{$size}{
    margin-left: #{$size}px;
  }
  .mr-#{$size}{
    margin-right: #{$size}px;
  }
  .mt-#{$size}{
    margin-top: #{$size}px;
  }
  .mb-#{$size}{
    margin-bottom: #{$size}px;
  }
  .m-#{$size}{
    margin: #{$size}px;
  }
  @each $id, $bp in $breakpoints {
    @media(max-width: #{$bp}px) {
      .#{$id}-resp-ml-#{$size}{
        margin-left: #{$size}px !important;
      }
      .#{$id}-resp-mr-#{$size}{
        margin-right: #{$size}px !important;
      }
      .#{$id}-resp-mt-#{$size}{
        margin-top: #{$size}px !important;
      }
      .#{$id}-resp-mb-#{$size}{
        margin-bottom: #{$size}px !important;
      }
      .#{$id}-resp-m-#{$size}{
        margin: #{$size}px !important;
      }
    }
  }
}

.mb-15{
  margin-bottom: 15px;
}

// Padding utilities

@each $size in $sizes {
  .pl-#{$size}{
    padding-left: #{$size}px;
  }
  .pr-#{$size}{
    padding-right: #{$size}px;
  }
  .pt-#{$size}{
    padding-top: #{$size}px;
  }
  .pb-#{$size}{
    padding-bottom: #{$size}px;
  }
  .p-#{$size}{
    padding: #{$size}px;
  }
  @each $id, $bp in $breakpoints {
    @media(max-width: #{$bp}px) {
      .#{$id}-resp-pl-#{$size}{
        padding-left: #{$size}px !important;
      }
      .#{$id}-resp-pr-#{$size}{
        padding-right: #{$size}px !important;
      }
      .#{$id}-resp-pt-#{$size}{
        padding-top: #{$size}px !important;
      }
      .#{$id}-resp-pb-#{$size}{
        padding-bottom: #{$size}px !important;
      }
      .#{$id}-resp-p-#{$size}{
        padding: #{$size}px !important;
      }
    }
  }
}

.pb-05{
  padding-bottom: 5px;
}
.pt-05{
  padding-top: 5px;
}

.center-margin{
  margin-left: auto;
  margin-right: auto;
}
