<div class="footer">
  <%= link_to "A propos de Demain", about_path, class:"white-link mb-2" %>
  <h6 class="mb-2">tomorrow works SAS - 2022</h6>
  <ul class="list-inline">
    <li>nous suivre : <a href="https://www.linkedin.com/company/demain-works/" class="white-link"><i class="fa-brands fa-linkedin-in ps-1"></i></a></li>
    <li class="p-1"> | </li>
    <li>nous écrire : <a href="mailto:contact@demain.works" class="white-link"><i class="fa-solid fa-at ps-1"></i></a></li>
  </ul>
  <%= link_to "Blog", blog_path, class: "white-link ms-3" %>
</div>
