<% if current_user.eligibility_on_going? %>

  <% if @selection_on_record&.in_progress? || @selection_on_record&.abandonned? %>
    <h6 class="text-main fs-15 center-text">Vous avez candidaté à cette mission</h6>
  <% else %>
    <%= link_to new_user_offer_candidacy_path(@offer), class: "w-100 button round-20 bg-main-to-dark border-main text-white", data: {turbo_frame: "apply"} do %>
      <i class="fa-regular fa-paper-plane text-white mr-10"></i>
      Proposer mon aide
    <% end %>
  <% end %>

<% end %>
