<div class="bg-shade p-20 w-100">
  <div data-controller="popup">
    <%= render partial: "company_user/offers/apply_btn" %>
    <%= render partial: "company_user/offers/apply_form" %>
  </div>
</div>
