<div class="flex-col flex-center">
  <h5 class="text-main fw-7">Votre call est programmé !</h5>
  <p class="mb-20">Vous avez terminé. En attendant d'échanger avec votre conseiller, n'hésitez pas à consulter les missions</p>
  <%= link_to "Missions", user_offers_path, class:"button btn-main-color" %>
</div>
