<h5 class="mb-40 fw-7 text-main">👋 Bonjour <%= current_user.first_name %></h5>

<div class="max-w-400" data-controller="popup">
  <h5 class="mb-10">Bienvenue chez Demain.</h5>
  <p class=mb-20>Votre entreprise n'accepte pas de nouvelle demande actuellement.</p>
</div>
