<h5 class="mb-40 fw-7 text-main">👋 Bonjour <%= current_user.first_name %></h5>

<div class="max-w-400" data-controller="popup">
  <h5 class="mb-10">Bienvenue chez Demain.</h5>
  <p class=mb-20>Malheureusement vous n'êtes pas actuellement autorisé par votre entreprise à candidater à des missions.</p>

  <div class="flex-center mb-40">
    <%= link_to "Votre dernière demande", user_employee_application_path(current_user.last_employee_application), data: {turbo_frame: "modal"}, class: "round bg-shade-to-dark text-main max-w-300 w-100 text-center pt-05 pb-05 hover-2" %>
  </div>

  <p class="mb-20">Si vous le souhaitez, vous pouvez renouveller votre demande en cliquant ici :</p>

  <div class="flex-center">
    <%= link_to "Refaire une demande", new_user_employee_application_path, data: {turbo_frame: "modal"}, class: "round bg-main-to-dark text-white max-w-300 w-100 text-center pt-05 pb-05 hover-2" %>
  </div>

  <%= turbo_frame_tag "modal" %>

</div>
