<div class="light-bg">
  <div class="ctn">
    <h1 class="center-text big-header-with-bg">Salariés d'entreprise</h1>

    <div class="flex-resp mb-5">
      <div style="background-image: url('<%= image_path "illustration3.png" %>')" class="lg-illustration"></div>
      <div class="text-card-xl">
        <h4><i class="fa-solid fa-circle-arrow-right"></i></i>Vous avez le <span class="stress">pouvoir</span></h4>
        <p class="mb-1">Vous en avez ras le bol de faire des slides toute la semaine sans y trouver de sens ?</p>
        <p class="mb-1">Vous voulez vous engager concretement et durablement en faveur de la transition sociale et environementale ?</p>
        <p class="mb-1">Grace a <span class="stress">demain.works</span> : vous avez le pouvoir de <strong>changer le monde sans changer de boulot</strong> !</p>
      </div>
    </div>
  </div>
</div>

<div class="ctn">
  <div class="flex-resp mb-5">
    <div class="text-card-xl">
      <h4><i class="fa-solid fa-circle-arrow-right"></i></i>Rejoignez le <span class="stress">mouvement</span> !</h4>
      <p class="mb-1">Concrétisez vos projets d'engagement en toute sécurité grace au dispositif <span class="stress">demain.works</span></p>
      <ul>
        <li>Candidatez a des postes a temps partiel en toute discretion, et bénéficiez de notre accompagnement pour faire valoir vos aspirations aupres de votre employeur</li>
        <li>Conservez votre emploi actuel a temps partiel, en le combinant avec un deuxieme emploi associatif qui vous ressemble</li>
        <li>Cassez la routine de votre semaine en entreprise, et gagnez en compétences (soft skills, hard skills)</li>
      </ul>
    </div>
    <div class="mid-page-ctn">
      <div>
        <h5 class="center-text mt-5"></h5>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="button btn-flag-color" href="" data-action="click->modal#popup">Contactez-nous !</a>
  </div>
</div>
