<div class="light-bg">
  <div class="ctn">
    <h1 class="center-text big-header-with-bg">Salariés d'entreprise</h1>

    <div class="flex-resp mb-5">
      <div style="background-image: url('<%= image_path "illustration3.png" %>')" class="lg-illustration"></div>
      <div class="text-card-xl">
        <h4><i class="fa-solid fa-circle-arrow-right"></i></i>Vous avez le <span class="stress">pouvoir</span></h4>
        <p class="mb-1">Vous n'êtes</p>
      </div>
    </div>
  </div>
</div>

<div class="ctn">
  <div class="flex-resp mb-5">
    <div class="text-card-xl">
      <h4><i class="fa-solid fa-circle-arrow-right"></i></i>Rejoignez le <span class="stress">mouvement</span> !</h4>
      <p class="mb-1"></p>
    </div>
    <div class="mid-page-ctn">
      <div>
        <h5 class="center-text mt-5"></h5>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="button btn-flag-color" href="" data-action="click->modal#popup">Contactez-nous !</a>
  </div>
</div>
