<div class="pb-5">
  <div class="light-bg pt-5">
    <div class="ctn">
      <h1 class="center-text big-header-with-bg">Entreprises</h1>

      <div class="flex-resp mb-5">
        <div style="background-image: url('<%= image_path "illustration2.png" %>')" class="lg-illustration"></div>
        <div class="text-card-xl">
          <h4><i class="fa-solid fa-circle-arrow-right fixed-title-icon"></i></i>Vos <span class="stress">enjeux</span></h4>
          <p class="mb-1">Vous recherchez un moyen de <strong>mobiliser vos collaborateurs en quête de sens et d'engagement </strong>dans leur travail</p>
          <p class="mb-1">Vous faites face à une <strong>concurrence forte sur le marché du recrutement</strong>, et peinez à vous différencier</p>
          <p class="mb-1">Vous souhaitez que votre <strong>entreprise s'inscrive dans une démarche solidaire</strong> à fort impact</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ctn">

    <div class="flex-resp mb-5">
      <div class="text-card-xl">
        <h4><i class="fa-solid fa-circle-arrow-right fixed-title-icon"></i></i>Notre <span class="stress">solution</span></h4>
        <p class="mb-1">Bénéficiez d’une <strong>plateforme et un service d’accompagnement individualisé</strong> pour l’engagement moyen à long-terme de vos talents, quels que soient <strong>leurs contraintes, votre budget</strong> et celui des bénéficiaires</p>
        <p class="mb-1">Boostez vos actions de <strong>mécénat de compétences</strong> et votre <strong>image employeur</strong> en proposant du <strong>co-recrutement solidaire</strong> et de véritables <strong>temps partagés associatifs</strong></p>
        <p class="mb-1">Valorisez cette <strong>double démarche RH/RSE différenciante</strong> auprès de vos parties prenantes : candidat·e·s, salarié·e·s, clientèle, partenaires…</p>
      </div>
      <div class="mid-page-ctn">
        <div>
          <div>
          <h5 class="center-text mt-5">Flexible et déclinable sur de nombreux formats:</h5>
          <div class="mono-carousel-ctn">
            <div class="mono-card-carousel" style="height: 200px;">
              <div class="mono-card mono-card-lg">
                <p><span>Graduate solidaire</span></p>
                <p>pour attirer les jeunes talents</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Co-recrutement</span></p>
                <p>pour vous démarquer et gagner en attractivité</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Break d'intérêt général</span></p>
                <p>pour re-mobiliser vos collaborateurs en quête d'engagement</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Inter-missions probono</span></p>
                <p>pour gérer votre capacité en motivant vos consultants</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Pré-retraite active</span></p>
                <p>pour valoriser l'engagement de vos cadres seniors</p>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
    <div class="flex-resp justify-content-center align-items-center" data-controller="contact">
      <h6 class="primary-text-color m-2 center-text">Des questions ?</h6>
      <a class="button btn-flag-color" href="" data-action="click->contact#popup">Contactez-nous !</a>
      <%= render partial: "contact" %>
    </div>


  </div>
</div>
