<div class="pb-5">
  <div class="light-bg">
    <div class="ctn">
      <h1 class="center-text big-header-with-bg">Entreprises</h1>

      <div class="flex-resp mb-5">
        <div style="background-image: url('<%= image_path "illustration2.png" %>')" class="lg-illustration"></div>
        <div class="text-card-xl">
          <h4><i class="fa-solid fa-circle-arrow-right fixed-title-icon"></i></i>Vos <span class="stress">enjeux</span></h4>
          <p class="mb-1">Vous recherchez un moyen de <strong>mobiliser vos collaborateurs en quête de sens </strong>dans leur travail</p>
          <p class="mb-1">Vous faites face à une <strong>concurrence forte sur le marché du recrutement</strong>, et peinez à vous différencier</p>
          <p class="mb-1">Vous souhaitez que votre <strong>entreprise s'inscrive dans une démarche citoyenne</strong> à fort impact</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ctn">

    <div class="flex-resp mb-5">
      <div class="text-card-xl">
        <h4><i class="fa-solid fa-circle-arrow-right fixed-title-icon"></i></i>Notre <span class="stress">solution</span></h4>
        <p class="mb-1"><strong>Permettez aux collaborateurs en quête d'engagement</strong> d'aménager leur emploi actuel pour le combiner avec un second en temps partagé dans une organisation d'intérêt général</p>
        <p class="mb-1">Soyez parmi les premiers à proposer des offres d'emploi partagé solidaire qui <strong>boosteront votre attractivité en tant que recruteur</strong></p>
        <p class="mb-1">Bénéficiez du <strong>développement et de l'apport d'expérience</strong> de vos collaborateurs en temps partagé solidaire</p>
      </div>
      <div class="mid-page-ctn">
        <div>
          <div>
          <h5 class="center-text mt-5">Flexible et déclinable sur de nombreux formats:</h5>
          <div class="mono-carousel-ctn">
            <div class="mono-card-carousel" style="height: 200px;">
              <div class="mono-card mono-card-lg">
                <p><span>Graduate solidaire</span></p>
                <p>pour attirer les jeunes talents</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Co-recrutement</span></p>
                <p>pour vous démarquer et gagner en attractivité</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Break solidaire</span></p>
                <p>pour re-mobiliser vos collaborateurs en quête d'engagement</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Inter-missions solidaire</span></p>
                <p>pour incentiver vos consultants en recherche de sens</p>
              </div>
              <div class="mono-card mono-card-lg">
                <p><span>Pré-retraite solidaire</span></p>
                <p>pour valoriser l'engagement de vos cadres seniors</p>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
    <div class="flex-resp justify-content-center align-items-center" data-controller="contact">
      <h6 class="primary-text-color m-2 center-text">Des questions ?</h6>
      <a class="button btn-flag-color" href="" data-action="click->contact#popup">Contactez-nous !</a>
      <%= render partial: "contact" %>
    </div>


  </div>
</div>
