<% content_for :title, "Infos légales" %>
<% content_for :description, "Informations légales concernant le site Demain" %>
<% canonical(legal_url) %>

<div class="ctn-resp bg-white pt-5 pb-5">
  <h1 class="mt-5 mb-40 fs-30 fw-6">Mentions légales</h1>

  <div class="max-w-750 w-100">
    <div class="mb-30">
      <h2 class="fs-20 fw-6 mt-4 mb-2 text-main">EDITEUR</h2>
      <p class="mb-2">L'édition du Site est assurée par TOMORROW WORKS SAS au capital de 40 000 euros, immatriculée au Registre du Commerce et des Sociétés de PARIS sous le numéro 909687873 dont le siège social est situé au <%= hq_address %>, </p>
      <ul class="light-list">
        <li>Numéro de téléphone : 07 83 66 60 92</li>
        <li>Adresse e-mail : baptiste@demain.works.</li>
        <li>Le Directeur de la publication est Mr Baptiste CLAIR</li>
      </ul>
    </div>

    <div>
      <h2 class="fs-20 fw-6 mt-4 mb-2 text-main">HEBERGEUR</h2>
      <p class="mb-2">L'hébergeur du site est la société HEROKU Inc. dont le siège social est situé au 650 7th Street San Francisco, CA USA.</p>
    </div>
  </div>
</div>
