<% content_for :title, "Infos légales" %>
<% content_for :description, "Informations légales concernant le site Demain" %>
<% canonical(legal_url) %>

<div class="ctn-resp white-bg pt-5 pb-5">
  <h5 class="mt-5 primary-text-color mb-2">Mentions légales</h5>
  <h6 class="mb-5">En vigueur au 01/01/2022</h6>

  <p class="mb-2">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l""Utilisateur", du site demain.works , ci-après le "Site", les présentes mentions légales.</p>
  <p class="mb-2">La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
  <p class="mb-2">Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>

  <h6 class="mt-4 mb-2">ARTICLE 1 - L'EDITEUR</h6>
  <p class="mb-2">L'édition du Site est assurée par TOMORROW WORKS SAS au capital de 10000 euros, immatriculée au Registre du Commerce et des Sociétés de PARIS sous le numéro 909687873 dont le siège social est situé au 12 B RUE BOYER 75020 PARIS 20, </p>
  <ul class="light-list">
    <li>Numéro de téléphone : 07 83 66 60 92</li>
    <li>Adresse e-mail : baptiste@demain.works.</li>
    <li>N° de TVA intracommunautaire : FR59909687873</li>
    <li>Le Directeur de la publication est Mr Baptiste CLAIR</li>
  </ul>
  ci-après l'"Editeur".

  <h6 class="mt-4 mb-2">ARTICLE 2 - L'HEBERGEUR</h6>
  <p class="mb-2">L'hébergeur du Site est la société HEROKU Inc. dont le siège social est situé au 650 7th Street San Francisco, CA USA.</p>

  <h6 class="mt-4 mb-2">ARTICLE 3 - ACCES AU SITE</h6>
  <p class="mb-2">Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
  <p class="mb-2">En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>

  <h6 class="mt-4 mb-2">ARTICLE 4 - COLLECTE DES DONNEES</h6>
  <p class="mb-2">Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
  <p class="mb-2">En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit par email (contact@demain.works)</p>
  <p class="mb-5">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>

  <p class="mt-5"><em>Rédigé sur http://legalplace.fr</em></p>

</div>
