<% content_for :title, "Associations : Nous pouvons vous aider" %>
<% content_for :description, "Demain permet gratuitement aux associations d'intégrer durablement des compétences grâce au mécénat d'entreprise" %>
<% canonical(nonprofits_url) %>

<div class="pb-5 bg-white">
  <div class="pt-5">
    <div class="ctn">
      <h1 class="center-text text-main mb-5">Associations</h1>

      <div class="flex-resp mb-5">
        <div style="background-image: url('<%= image_path "illustration4.png" %>')" class="lg-illustration"></div>
        <div class="text-card-xl">
          <h4><i class="fa-solid fa-circle-arrow-right fixed-title-icon"></i></i>Vos <span class="stress">enjeux</span></h4>
          <p class="mb-1">Vous avez des besoins croissants de <strong>professionalisation, de digitalisation, de structuration</strong> de vos activités qui nécessitent des compétences en dehors de votre coeur d'activité</p>
          <p>Vous rencontrez des <strong>difficultés à attirer suffisament de candidatures qualifiées</strong> pour répondre à ces besoins</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ctn">

    <div class="flex-resp mb-5">
      <div class="text-card-xl">
        <h4><i class="fa-solid fa-circle-arrow-right fixed-title-icon"></i></i>Notre <span class="stress">solution</span></h4>
        <p class="mb-1">Attirez des candidats dont les <strong>compétences développées en entreprise</strong> bénéficieront à votre organisation</p>
        <p class="mb-1"><span class="stress">Demain</span> vous <strong>accompagne pour identifier les profils</strong> à même de répondre à des enjeux structurants que vous ne pouvez actuellement adresser, faute d'expertise interne</p>
        <p class="mb-1">Capitalisez sur la volonté croissante des talents issus du privé de s'engager dans la durée</p>
        <p class="mb-1">Probono, mécénat de compétences, temps partagé co-financé...  Demain vous accompagne sur <strong>tous types de besoins moyen ou long-terme, quel que soit votre budget</strong></p>
      </div>
      <div class="mid-page-ctn">
        <div>
          <h5 class="center-text">Pour vos recrutements identifiés :</h5>
          <div class="triple-carousel-ctn">
            <div class="triple-icon-carousel">
              <div class="triple-icon">
                <p>📈</p>
                <p>Finance / Compta</p>
              </div>
              <div class="triple-icon">
                <p>🤝🏽</p>
                <p>RH / Legal</p>
              </div>
              <div class="triple-icon">
                <p>🖥️</p>
                <p>IT / Web / Data</p>
              </div>
              <div class="triple-icon">
                <p>📢</p>
                <p>Marketing / Com'</p>
              </div>
              <div class="triple-icon">
                <p>📦</p>
                <p>Achats / Logistique</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h5 class="center-text mt-5">Pour vos projets structurants :</h5>
          <div class="mono-carousel-ctn">
            <div class="mono-card-carousel" style="height: 100px;">
              <div class="mono-card mono-card-sm">
                <p>Améliorer l'expérience de vos bénéficiaires</p>
              </div>
              <div class="mono-card mono-card-sm">
                <p>Digitaliser vos processes internes</p>
              </div>
              <div class="mono-card mono-card-sm">
                <p>Maximiser le résultat de votre campagne de fundraising</p>
              </div>
              <div class="mono-card mono-card-sm">
                <p>Optimiser le parcours de vos bénevoles</p>
              </div>
              <div class="mono-card mono-card-sm">
                <p>Diversifier vos sources de financement</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" mt-5 pt-5 pb-5" data-controller="contact">
      <div class="d-flex justify-content-center">
        <%= link_to '', class: "fat-btn fat-btn-main-color position-relative d-flex justify-content-between align-items-center", data: {action: "click->contact#popup", type: "Association"} do %>
          <span></span>
          <strong>Discutons-en !</strong>
          <i class="fa-solid fa-phone round-button bg-white"></i>
        <% end %>
      </div>
      <%= render partial: "pages/contact" %>
    </div>



  </div>
</div>
