<div class="flex-center-left mb-40 company-sub-menu">
  <%= link_to "Autorisations", company_admin_whitelists_path, class: "button", data: {turbo: false, active: active == 1} %>
  |
  <%= link_to "Inscriptions", company_admin_users_path, class: "button", data: {turbo: false, active: active == 2} %>
  |
  <%= link_to "Créer", new_company_admin_user_path, class: "button", data: {turbo: false, active: active == 3} %>
</div>
