<%= turbo_frame_tag "form" do %>

  <div class="w-100 flex-center flex-col pt-40">

    <div class="valid-anim flex-center square-50 mb-20">
      <i class="fa-solid fa-check text-white fs-25"></i>
    </div>

    <div class="w-100">
      <h4 class="text-main fw-6 mb-15">Merci</h4>
      <p>Votre formulaire a bien été enregistré. L'équipe Demain.Works prendra contact avec vous dans les meilleurs délais.</p>
    </div>

  </div>

<% end %>
