<div class="d-flex" data-controller="display">
  <%= render partial: "company_user/missions/list", locals: {missions: @missions} %>
  <div class="ml-40">
    <%= render partial: "calendar" %>
  </div>
</div>
