<div data-profile-form-target="wishes" data-position="right">
  <div class="d-flex align-items-center mb-4">
    <h5 class="primary-text-color bold-6 me-4">mon engagement</h5>
    <span class="chevron-ctrl bold-6 me-1" data-action="click->profile-form#step2">◄</span></span>
    <span class="chevron-ctrl disabled bold-6">►</span></span>
  </div>

  <div class="flex-resp mb-3">
    <label for="candidate_cause_list" class="mb-0 me-3 set-width-150">Causes :
      <p class="sm-thin-text mt-2">Sélectionne les causes qui te tiennent particulièrement à coeur</p>
    </label>
    <%= f.input :cause_list,
              label: false,
              collection: Beneficiary::CAUSES,
              as: :check_boxes,
              wrapper_html: {class: 'custom-checkbox-ctn'} %>
  </div>

</div>
