<div class="max-w-400">
  <%= simple_form_for(@mission, url: user_mission_path(@mission, step:1)) do |f| %>

    <h6 class="text-main fw-7 mb-10">Pour quelle raison la mission se termine-t-elle ?</h6>

    <div class="form-wrapper radio-box align-items-start">
      <%= f.input :termination_cause,
                  label: false,
                  as: :radio_buttons,
                  collection: Mission.termination_causes.keys,
                  input_html: {data: {"radio-target": "input", "action": "input->radio#update"}},
                  error: false,
                  item_wrapper_class: "radio-button-ctn" %>
    </div>
    <%= f.input :termination_comment, label: false, placeholder: "Vous pouvez apporter des précisions si vous le souhaitez." %>

    <div class="w-100 flex-center-between mb-40">
      <%= link_to "Retour", user_mission_confirmation_path(@mission), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
      <button type="submit" class="round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2">Continuer</button>
    </div>
  <% end %>


</div>
