<div class="max-w-400">
  <%= simple_form_for(@mission, url: user_mission_path(@mission, step:1)) do |f| %>

    <div class="mb-20">
      <h5>Indiquez la raison 😶</h5>
    </div>

    <div class="form-wrapper radio-box align-items-start">
      <%= f.input :termination_cause,
                  label: false,
                  as: :radio_buttons,
                  collection: Mission.termination_causes.keys,
                  input_html: {data: {"radio-target": "input", "action": "input->radio#update"}},
                  error: false,
                  item_wrapper_class: "radio-button-ctn" %>
    </div>
    <%= f.input :termination_comment, label: "Commentaires" %>

    <div class="w-100 flex-center-right mb-40">
      <button type="submit" class="round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2">Continuer</button>
    </div>
  <% end %>


</div>
