<div class="max-w-500 w-100">
  <% if @mission.activated_status? %>
    <div class="mb-20">
      <%= render partial: "company_user/missions/tabs" %>
    </div>

    <h4 class="text-main fw-7 mb-40">Votre mission en cours</h4>
  <% end %>

  <div class="mb-40">
    <% if @mission.draft_status? %>
      <h4 class="text-main fw-7 mb-10">Votre mission est en cours de formalisation</h4>
      <p><%= @mission.candidate.company.name %> et <%= @mission.beneficiary.name %> s'accordent sur les termes</p>
    <% end %>

    <% if @mission.terminated_status? %>
      <h4 class="text-main fw-7 mb-10">Votre mission est terminée</h4>
    <% end %>

    <% if @mission.abandonned_status? %>
        <h4 class="text-main fw-7 mb-10">Votre mission n'a pas pu aboutir</h4>
        <p>Veuillez contacter votre conseiller Demain pour plus d'informations</p>
    <% end %>
  </div>

  <%= render partial: "summary", locals: {mission: @mission} %>
</div>
