<div class="bg-white max-w-400 ml-60">

    <div class="pt-50 pb-50">
        <div class="flex-center mb-40">
          <%= image_tag('valid') %>
          <h4 class="text-main fs-30 fw-6 ml-20 sm-resp-pt-20">Enregistré !</h4>
        </div>

        <h5 class="mb-10">Merci d'avoir complété ces infomations.</h5>
        <p class="mb-40">L’équipe de Demain prendra rapidement contact avec vous pour en savoir plus sur la mission réalisée.</p>

        <%= image_tag('rocket.svg', class: "w-100 max-w-400") %>
    </div>

</div>
