<%= turbo_frame_tag "modal" do %>
  <div class="tenant-modal" data-popup-target="window" data-action="click->popup#close" data-pop-up-id="1" data-active="true">
    <div>
      <div class="p-20 shadow-md" data-action="click->popup#keep">
        <div class="flex-center-between w-100">
          <h5 class="text-main fw-7">Modification</h5>
          <%= link_to "", data: {action: "click->popup#close", popup_target: "close"} do %>
            <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
          <% end %>
        </div>
        <h6 class="mb-20">Modifier une expérience professionnelle de votre CV</h6>

        <%= render partial: "form", locals: {url: user_experience_path(@experience)} %>

      </div>
    </div>
  </div>
<% end %>
