  <h5 class="fw-6 text-main mb-40">1. Je complète mon profil</h5>

  <div class="max-w-300" data-controller="popup">

    <h6 class="text-main mb-20 fw-6">Compléter manuellement le CV</h6>
    <%= render partial: "company_user/candidates/progress_bar", locals: {step: 3} %>

    <%= render partial: "list" %>

    <div class="flex-between mt-20">
      <%= link_to "retour", user_profile_path(step: 3), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2", data: {turbo: false} %>
      <% if @experiences&.empty? %>
        <p class="round bg-grey-low text-white max-w-100 w-100 text-center pt-05 pb-05" title="Expériences requises pour continuer">continuer</p>
      <% else %>
        <%= link_to "continuer", user_profile_path(step: 4), class: "round bg-main-to-dark text-white max-w-100 w-100 text-center pt-05 pb-05 hover-2", data: {turbo: false} %>
      <% end %>
    </div>
  </div>
