<%= simple_form_for(@candidate, html: {'data-progress-target': "form1"}) do |f| %>

  <%= f.input :linkedin_url %>
  <%= f.input :phone_num %>
  <%= f.input :cv, as: :file %>

  <div class="d-flex justify-content-end">
    <button type="submit" class="button btn-flag-color" data-action="click->progress#step2">Suivant</button>
  </div>

<% end %>
