.banner {
  height: 55vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 5vw 0 5vw;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);

  h1 {
    font-size: 100px;
    font-weight: 900;
    color: white;
    margin-bottom: 10px;
  }

  h3 {
    color: white;
    opacity: 0.8;
    margin-bottom: 20px;
  }

  img {
    max-width: 30vw;
    margin-bottom: 10px;
  }

}

@media(max-width: 720px) {
  .banner {
    align-items: center;
    >h3{
      text-align: center;
    }
    img {
      max-width: 85vw;
    }
  }
  .offer-banner{
    padding: 100px 5vw 50px 5vw;
    >h2{
      margin-bottom: 30px;
    }
  }
}

.offer-banner{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 100px 5vw 50px 5vw;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  color: white;
  position: relative;
  >h2{
    text-align: center;
  }
}

.offer-specs{
  background-color: $first-main-color;
  padding: 15px 40px;
  position: absolute;
  bottom: -25px;
}
