.button {
  display: block;
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 3px;
  height: fit-content;
  transition: ease-in-out 0.2s;
  &:hover {
    transition: ease-in-out 0.2s;
  }
}

.round-button{
  width: 40px;
  height: 40px;
  border-radius: 50em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
  &:hover {
    transition: ease-in-out 0.2s;
  }
}

.btn-main-color {
  background-color: $first-main-color;
  color: white;
  &:hover {
    color: white;
    background-color: $first-main-darker;
  }
}

.btn-flag-color {
  background-color: $first-flag-color;
  color: white;
  &:hover {
    color: white;
    background-color: $first-flag-darker;
  }
}

.btn-light-main{
  background-color: white;
  border: solid 1px $first-main-color;
  color: $first-main-color;
  &:hover {
    background-color: $first-light-color;
    color: $first-main-color;
  }
}

.btn-light-flag{
  background-color: white;
  border: solid 1px $first-flag-color;
  color: $first-flag-color;
  &:hover {
    color: $first-flag-darker;
  }
}

@media(max-width: 720px) {
  .button {
    width: 100%;
  }
}

.btn-white-on-main {
  background-color: $first-main-color;
  border: solid 2px white;
  color: white;
  &:hover {
    color: $first-main-color;
    background-color: white;
  }
}

.button-round{
  border-radius: 50px;
  display: block;
  text-align: center;
  width: fit-content;
  padding: 2px 10px;
  height: fit-content;
  transition: ease-in-out 0.2s;
  &:hover {
    transition: ease-in-out 0.2s;
  }
}

.btn-admin-cta{
  background-color: green;
  color: white;
  &:hover {
    color: white;
    background-color: greenyellow;
  }
}
