.button {
  display: block;
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 3px;
  height: fit-content;
  transition: ease-in-out 0.2s;
  &:hover {
    transition: ease-in-out 0.2s;
  }
}

.round-button{
  width: 40px;
  height: 40px;
  border-radius: 50em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
  &:hover {
    transition: ease-in-out 0.2s;
  }
}

.btn-main-color {
  background-color: $first-main-color;
  border: solid 1px $first-main-color;
  color: white;
  &:hover {
    color: white;
    background-color: $first-main-darker;
  }
}

.btn-flag-color {
  background-color: $first-flag-color;
  border: solid 1px $first-flag-color;
  color: white;
  &:hover {
    color: white;
    background-color: $first-flag-darker;
  }
}

.btn-light-main{
  background-color: white;
  border: solid 1px $first-main-color;
  color: $first-main-color;
  &:hover {
    background-color: $first-light-color;
    color: $first-main-color;
  }
}

.btn-light-flag{
  background-color: white;
  border: solid 1px $first-flag-color;
  color: $first-flag-color;
  &:hover {
    color: $first-flag-darker;
  }
}

@media(max-width: 720px) {
  .button {
    width: 100%;
  }
}

.btn-white-on-main {
  background-color: $first-main-color;
  border: solid 2px white;
  color: white;
  &:hover {
    color: $first-main-color;
    background-color: white;
  }
}

.button-round{
  border-radius: 50px;
  display: block;
  text-align: center;
  width: fit-content;
  padding: 2px 10px;
  height: fit-content;
  transition: ease-in-out 0.2s;
  &:hover {
    transition: ease-in-out 0.2s;
  }
}

.btn-admin-cta{
  background-color: green;
  color: white;
  position: fixed;
  bottom: 50px;
  left: 50px;
  &:hover {
    color: white;
    background-color: greenyellow;
  }
}

.btn-round-cta{
  background-color: $first-main-color;
  cursor: pointer;
  color: white;
  position: relative;
  &:hover {
    color: white;
    background-color: $first-main-darker;
  }
  .cta-top-legend{
    position: absolute;
    top: -20px;
  }
}

.btn-round-cta.inactive{
  background-color: $first-light-darker;
  cursor: default;
}

.upload{
  border: solid $first-main-color 1px;
  border-radius: 50em;
  color: $first-main-color;
  cursor: pointer;
  padding: 5px 15px;
  transition: 0.2s ease-in-out;
  &:hover{
    background-color: $first-light-color;
    transition: 0.2s ease-in-out;
  }
}

.save-ctn-resp{
  @media(max-width: 720px) {
    position: fixed;
    top: 17px;
    right: 5vw;
    z-index: 2;
  }
}
