.button {
  display: block;
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 3px;
  height: fit-content;
}

.btn-main-color {
  background-color: $first-main-color;
  color: white;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}

.btn-flag-color {
  background-color: $first-flag-color;
  color: white;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}

.btn-light-main{
  background-color: white;
  border: solid 1px $first-main-color;
  color: $first-main-color;
  padding: 8px 18px;
  &:hover {
    color: $first-main-color;
    opacity: 0.8;
  }
}

.btn-light-flag{
  background-color: white;
  border: solid 1px $first-flag-color;
  color: $first-flag-color;
  padding: 8px 18px;
  &:hover {
    color: $first-flag-color;
    opacity: 0.8;
  }
}

@media(max-width: 720px) {
  .button {
    width: 100%;
  }
}

.sticky-cta{
  position: sticky;
  top: 100px;
  align-self: flex-start
}
