.company-navbar{
  background-color: white;
  position: fixed;
  height: 50px;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.company-menu{
  position: relative;
  >div{
    position: sticky;
    top: 100px;
  }
  a{
    display: block;
    max-width: 180px;
    line-height: normal;
  }
  // position: fixed;
  min-height: 100vh;
  min-width: 250px;
  background-color: $first_light_color;
  padding-left: 4vw;
  padding-right: 20px;
  padding-top: 50px;
  @media(max-width: $bp-sm) {
    padding-left: 2vw;
    padding-right: 2vw;
    }
  [data-active="true"]{
    font-weight: 700;
    color: $first-main-color;
    position: relative;
    &::before{
      content: "▌";
      position: absolute;
      left: -15px;
    }
  }
}

.company-content-ctn{
  // margin-left: 250px;
  width: 100%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 4vw;
  @media(max-width: $bp-sm) {
    padding-right: 2vw;
    }
}

.company-sub-menu{
  [data-active="true"]{
    font-weight: 700;
    color: $first-main-color;
  }
}
