.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $first-main-color;
  color: white;
  margin-top: 100px;
  padding: 20px;
  p {
    color: white;
  }
}

.min-height-wrap{
  min-height: 90vh;
}
