.inline-label{
  width: 150px;
}

.inline-field{
  margin-bottom: 0;
}

.form-header{
  background-color: $first-main-color;
  color: white;
  padding: 20px;
  i {
    color: white;
  }
}

.form-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  textarea{
    min-height: 100px;
  }
}

.sm-red-msg{
  font-size: 14px;
  color: red;
  text-align: end;
}

.submission{
  display: flex;
  justify-content: space-between;
}

@media(max-width: 980px) {
  .submission{
    display: block;
  }
}


// 740
// 980
