.inline-label{
  width: 150px;
}

.inline-field{
  margin-bottom: 0;
}

.form-header{
  background-color: $first-main-color;
  color: white;
  padding: 20px;
  i {
    color: white;
  }
}

.form-wrapper{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  textarea{
    min-height: 150px;
  }
}

.form-radio{
	> input {
		&:checked + span {
			background-color: mix(#fff, red, 84%) !important;
			&:before {
				box-shadow: inset 0 0 0 0.4375em red !important;
			}
		}
	}
}
