.menu{
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0px 5vw;
  z-index: 3;
  height: 50px;
  transition: ease-in-out 0.2s;

  div[data-active-tab="true"], a[data-active-tab="true"]{
    position: relative;
    color: $first-main-color;
    font-weight: 600;
    a {
      color: $first-main-color;
    }
    span{
      height: 5px;
      background-color: $first-main-color;
      width: 20px;
      position: absolute;
      bottom: 0;
      display: block;
    }
  }
  i{
    &:hover{
      color: $first-main-color;
    }
  }

  .btn-light-main{
    margin-left: 10px;
  }
}

.sm-logo{
  height: 40px;
}

.xl-logo{
  height: auto;
  width: 50vw;
  max-width: 250px;
  display: none;
}

.tab{
  min-width: 115px;
  height: 50px;
  &:hover{
    font-weight: 600;
    a{
      color: $first-main-color;
    }
  }
}

.menu-expand{
  translate: -100vw;
  transition: ease-in-out 0.2s;
}

.burger-icon{
  position: fixed;
  top: 17px;
  left: 5vw;
  color: white;
  z-index: 4;
  background-color: $first-main-color;
  border-radius: 50%;
  padding: 10px;
  height: 36px;
  width: 36px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.user-nav-box {
  text-align: end;
}

@media(max-width: $bp-md) {
  .burger-icon{
    display: block;
  }
  .menu{
    font-size: 22px;
    padding-top: 20vw;
    height: 100vh;
    translate: -100vw;
    background-color: $first-main-color;
    color: white;
    .sm-logo{
      display: none;
    }
    .xl-logo{
      display: block;
      margin-bottom: 100px;
    }
    .btn-light-main{
      margin-left: 0px;
      margin-top: 50px;
      background-color: $first-main-color;
      border: solid white 1px;
    }
    .flex-center-between{
      justify-content: start !important;
    }
    >div{
      a, i{
        color: white !important;
      }
    }
  }
  .tab{
    height: 50px;
  }
  div[data-active-tab="true"], a[data-active-tab="true"]{
    color: white !important;
    a, i{
      color: white !important;
    }
  }
  .menu-expand{
    translate: 0vw;
  }
  .user-nav-box {
    text-align: center;
    >p{
      color: white;
    }
  }
}
