.menu{
  position: fixed;
  width: 100%;
  background-color: $first-main-color;
  padding: 0px 5vw;
  z-index: 3;
  height: 50px;
  >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    // margin-left: 40px;
  }
  transition: ease-in-out 0.2s;
}

.menu-light{
  background-color: $first-light-color;
  .white-text{
    color: $first-main-color;
  }
  .white-link{
   color: $first-main-color;
   &:hover{
    color: $first-main-color;
   }
  }
  .btn-white-on-main{
    background-color: $first-light-color;
    border: solid 2px $first-main-color;
    color: $first-main-color;
    font-weight: 400;
    &:hover {
      color: $first-main-color;
      background-color: $first-light-darker;
      font-weight: 400;
    }
  }
  .tabs-ctn{
    .tab{
      >div{
        background-color: $first-light-color;
      }
    }
    .dropdown-tab{
      >div{
        background-color: $first-light-color;
      }
      .dropdown-arrow{
        >i{
          color: $first-main-color;
          font-weight: bolder;
        }
      }
      .dropdown-options{
        background-color: $first-light-color;
      }
    }
  }
}

.menu-expand{
  translate: -100vw;
  transition: ease-in-out 0.2s;
}

.burger-icon{
  position: fixed;
  top: 17px;
  left: 5vw;
  color: white;
  z-index: 4;
  background-color: $first-main-color;
  border-radius: 50%;
  padding: 10px;
  height: 36px;
  width: 36px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.sm-logo{
  height: 20px;
}

.user-nav-box {
  text-align: end;
}

.tabs-ctn{
  display: flex;
  height: 100%;
  position: relative;
  .tab{
    height: 100%;
    >div{
      display: flex;
      align-items: flex-end;
      height: 70%;
      background-color: $first-main-color;
    }
  }
  .dropdown-tab{
    height: 100%;
    position: relative;
    cursor: pointer;
    >div{
      display: flex;
      align-items: flex-end;
      height: 70%;
      background-color: $first-main-color;
      >div:first-child{
        display: flex;
      }
    }
    .dropdown-arrow{
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.2s;
      align-self: center;
      >i{
        color: white;
        font-weight: bolder;
      }
    }
    .dropdown-options{
      display: flex;
      flex-direction: column;
      background-color: $first-main-color;
      position: absolute;
      top: -150px;
      z-index: -1;
      transition: ease-in-out 0.2s;
      padding: 10px 20px;
    }
    &:hover{
      .dropdown-options{
      top: 50px;
      transition: ease-in-out 0.2s;
      }
      .dropdown-arrow{
      transform: rotate(90deg);
      transition: ease-in-out 0.2s;
      }
    }
  }
}


@media(max-width: 720px) {
  .burger-icon{
    display: block;
  }
  .menu{
    font-size: 22px;
    padding-top: 20vw;
    height: 100vh;
    translate: -100vw;
    >div{
      flex-direction: column;
      justify-content: space-around;
      margin-left: 0px;
    }
  }
  .menu-expand{
    translate: 0vw;
  }

  .tabs-ctn{
    display: block;
    height: auto;
    .tab{
      height: auto;
      >div{
        justify-content: center;
        height: auto;
      }
    }
    .dropdown-tab{
      height: auto;
      position: unset;
      >div{
        display: block;
        height: auto;
        >div:first-child{
          display: none;
        }
      }
      .dropdown-options{
        position: unset;
        >a{
          text-align: center;
        }
       }
    }
  }

  .sm-logo{
    height: auto;
    width: 50vw;
    max-width: 250px;
  }
  .user-nav-box {
    text-align: center;
  }
}
