.menu{
  position: fixed;
  width: 100%;
  background-color: $first-main-color;
  padding: 0px 5vw;
  z-index: 3;
  >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
  }
  transition: ease-in-out 0.2s;
}

.menu-expand{
  translate: -100vw;
  transition: ease-in-out 0.2s;
}

.burger-icon{
  position: fixed;
  top: 17px;
  left: 5vw;
  color: white;
  z-index: 4;
  background-color: $first-main-color;
  border-radius: 50%;
  padding: 10px;
  height: 36px;
  width: 36px;
  text-align: center;
  cursor: pointer;
}

.sm-logo{
  height: 20px;
}

.user-nav-box {
  text-align: end;
}

.tabs{
  height: 65px;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  .dropdown-tabs{
    transition: ease-in-out 0.2s;
    background-color: $first-main-color;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -200px;
    z-index: -1;
    padding-left: 35px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .dropdown{
    height: 55px;
    background-color: $first-main-color;
    padding: 22px 10px 0 10px;
    display: flex;
    >h6{
      font-weight: 200;
    }
    .carret{
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.2s;
      >i{
        color: white;
        font-weight: bolder;
      }
    }
  }
  &:hover{
    .dropdown-tabs{
      transition: ease-in-out 0.2s;
      top: 60px;
    }
    .dropdown{
      >h6{
        font-weight: 400;
      }
      .carret{
        transform: rotate(90deg);
        transition: ease-in-out 0.2s;
      }
    }
  }
}

.tabs-ctn{
  display: flex;
  align-items: center;
}

@media(max-width: 720px) {
  .menu{
    height: 100vh;
    translate: -100vw;
    >div{
      flex-direction: column;
      height: 70%;
      min-height: 500px;
      justify-content: space-around;
      margin-left: 0px;
    }
  }
  .tabs-ctn{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .menu-expand{
    translate: 0vw;
  }
  .tabs{
    margin-left: 0;
    .dropdown{
      opacity: 0;
      margin: 0;
      padding: 0;
    }
    .dropdown-tabs{
      position: unset;
      padding: 0;
      margin: 0;
      align-items: center;
    }
  }
  .sm-logo{
    height: auto;
    width: 50vw;
    max-width: 250px;
  }
  .user-nav-box {
    text-align: center;
  }
}
