// TRIPLE CARD CAROUSEL

.triple-icon {
  border-radius: 10px;
  background-color: $first-main-color;
  width: 100px;
  height: 100px;
  text-overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  opacity: 0;
  animation: "multisplay" 5s infinite;
  p {
    color: white;
    font-weight: 300;
  }
  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:nth-child(3) {
    animation-delay: 2s;
  }
  &:nth-child(4) {
    animation-delay: 3s;
  }
  &:nth-child(5) {
    animation-delay: 4s;
  }
}

@keyframes multisplay {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 0.5;
  }
  20% {
    transform: translateX(0);
    opacity: 0.5;
  }
  30% {
    transform: translateX(110px);
    opacity: 1;
  }
  40% {
    transform: translateX(110px);
    opacity: 1;
  }
  50% {
    transform: translateX(220px);
    opacity: 0.5;
  }
  60% {
    transform: translateX(220px);
    opacity: 0.5;
  }
  70% {
    transform: translateX(330px);
    opacity: 0.0;
  }
  100% {
    transform: translateX(330px);
    opacity: 0.0;
  }
}

.triple-icon-carousel {
  position: relative;
  width: 330px;
  height: 100px;
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}

.triple-carousel-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

// MONOCARD CAROUSEL

.mono-card {
  width: auto;
  position: absolute;
  left: 0;
  text-align: center;
  opacity: 0;
  animation: "monosplay" 20s infinite;
  display: flex;
  align-items: center;
  &:nth-child(2) {
    animation-delay: 4s;
  }
  &:nth-child(3) {
    animation-delay: 8s;
  }
  &:nth-child(4) {
    animation-delay: 12s;
  }
  &:nth-child(5) {
    animation-delay: 16s;
  }
}

.mono-card-sm {
  height: 100px;
  border-bottom: rgba(83, 28, 179, 0.2) 20px solid;
  p {
    font-weight: 300;
    font-size: 20px;
  }
}


.mono-card-lg {
  background-color: $first-main-color;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
  height: 150px;
  padding: 10px;
  p {
    font-weight: 300;
    font-size: 20px;
    color: white;
    span{
      font-weight: 700;
    }
  }
}

.mono-carousel-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes monosplay {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.mono-card-carousel {
  position: relative;
  width: 310px;
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}

// OVERALL RESPONSIVENESS

@media(max-width: 720px) {
  .triple-carousel-ctn {
    width: 100%;
  }
  .mono-carousel-ctn {
    width: 100%;
  }
}
