.pill-ctn{
  label{
    padding: 5px 15px;
    font-family: $body-font;
    border-radius: 50em;
    background-color: $light-gray;
    color: $first-main-darker;
    transition: 0.2s ease-in-out;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      background-color: $first-light-color;
      transition: 0.2s ease-in-out;
    }
  }
  >input:checked + label{
    background-color: $first-main-color;
    color: white;
    transition: 0.2s ease-in-out;
  }
}

.pill-tag-list{
  padding: 0;
  list-style: none;
  display: inline-flex;
  vertical-align: middle;
  flex-wrap: wrap;
  li{
    font-family: $body-font;
    font-size: 12px;
    display: inline;
    padding: 5px 15px;
    background-color: $first-main-color;
    color: white;
    border-radius: 50em;
    font-weight: 200;
  }
}

.single-pill{
  padding: 5px 15px;
  font-family: $body-font;
  border-radius: 50em;
  background-color: $first-main-color;
  color: $white;
  font-size: 12px;
}
