.pill-ctn{
  label{
    padding: 5px 15px;
    font-family: $body-font;
    border-radius: 50em;
    background-color: $light-gray;
    color: $first-main-darker;
    transition: 0.2s ease-in-out;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      background-color: $first-light-color;
      transition: 0.2s ease-in-out;
    }
  }
  >input:checked + label{
    background-color: $first-main-color;
    color: white;
    transition: 0.2s ease-in-out;
  }
}

.pill-dropdown{
  border-radius: 50em;
  padding: 5px 15px;
  font-family: $body-font;
  background-color: $light-gray;
  color: $first-main-darker;
  font-size: 12px;
  border-color: $light-gray;
  cursor: pointer;
  option {
    color: $first-main-darker;
  }
  option:checked {
    background-color: $first-light-darker;
  }
  &:focus {
    background-color: $first-light-color;
    color: $first-main-darker;
  }
}

.pill-dropdown-selected{
  background-color: $first-main-color;
  color: white;
  &:focus {
    background-color: $first-main-color;
    color: white;
  }
  option {
    background-color: $first-light-color;
  }
}
