.post-ctn{
  padding: 40px 10vw;
  font-size: larger;
>img {
  width: 100%;
}
>h6{
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
}
}

.post-body{
  text-align: justify;
  text-justify: inter-word;
  h1{
    color: $first-main-color;
    font-size: 22px;
  }
  a{
    text-decoration: underline;
    font-style: italic;
  }
}

@media(max-width: 1200px) {
  .post-ctn{
    padding: 40px 5vw;
  }
}

@media(max-width: 720px) {
  .post-ctn{
    padding: 40px 0vw;
  }
}
