// .progress-bars{
//   height: 8px;
// }

@keyframes step {
  from {width: 0%;}
  to {width: 100%;}
}

.step-bar {
  width: 100%;
  height: 8px;
  background: grey;
}

.sb-active {
  background-color: $first-main-color;
  height: 100%;
  width: 100%;
  animation-name: step;
  animation-duration: 1s;
}


.progress-step{
  position: absolute;
  padding: 10px;
  color: $first-light-color;
  background-color: $first-light-color;
  border-radius: 50em;
  top: 13px;
  left: -10px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-step[data-completed="true"]{
  background-color: $flag-color-3;
  color: white;
}

.company-sub-menu.progress-tabs{
  border-left: solid 1px $first-light-darker;
  a{
    height: 40px;
    padding: 10px 20px 10px 30px;
    display: block;
  }
  [data-active="true"]{
    .progress-step{
      background-color: $first-light-darker;
      color: $first-light-darker;
    }
    .progress-step[data-completed="true"]{
      color: white;
    }
  }
}

.progress-dots-ctn{
  position: relative;
  >hr{
    position: absolute;
    border: solid 1px $first-main-darker;
    width: 100%;
    z-index: -1;
  }
}
.progress-dot{
  border-radius: 100%;
  padding: 10px;
  font-size: 0;
  background-color: $first-light-color;
}
.progress-dot[step="active"]{
  background-color: $first-main-color;
  transform: scale(1.25);
  animation: dot-progression 0.2s ease-in-out;
}
.progress-dot[step="done"]{
  background-color: $first-main-color;
}

@keyframes dot-progression {
  from { transform: scale(1); }
  to   { transform: scale(1.2); }
}
