.radio-box > fieldset > legend{
  display: none;
}
.radio-box > fieldset{
  width: 100%;
  > legend{
  display: none;
  }
}

.radio-button-ctn{

  &:hover{
    >label{
    background-color: $light-gray;
    }
  }
  >input{
    display: none;
  }
  >label{
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 50em;
    cursor: pointer;
    &::before{
      content: '';
      padding: 0px 10px;
      border: 2px solid $first-main-color;
      background-color: white;
      border-radius: 50em;
      margin-right: 10px;
    }
    &::after{
      content: '';
      position: absolute;
      background-color: $first-main-color;
      left: 0;
      box-sizing: border-box;
      border: 1px solid white;
      left: 2px;
      top: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50em;
      scale: 0;
      transition: 0.2s ease-in-out;
    }
  }

  >input:checked + label{
    font-weight: 500;
    &::after{
      scale: 100%;
      transition: 0.2s ease-in-out;
    }
  }

}

.radio-button-ctn:last-child > label {
  margin-bottom: 0;
}

.inline-radio-btns{
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  height: 60px;
  margin-bottom: 40px;
  input{
    display: none;
  }
  .form-check {
    width: 75px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  label{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 13px;
    transition: 0.2s ease-in-out;
    &::before{
      content: '';
      padding: 10px;
      border: 2px solid white;
      outline: 2px solid $first-light-color;
      background-color: $first-light-color;
      border-radius: 50em;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 10px;
      z-index: 1;
      cursor: pointer;
    }
    &::after{
      content: '';
      padding: 10px;
      background-color: $first-main-color;
      border-radius: 50em;
      position: absolute;
      bottom: -18px;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 10px;
      scale: 0;
      transition: 0.2s ease-in-out;
      z-index: 1;
    }
  }
  input:checked + label{
    font-size: 15px;
    font-weight: 600;
    color: $first-main-color;
    transition: 0.2s ease-in-out;
    &::after{
      scale: 100%;
      transition: 0.2s ease-in-out;
    }
  }
  .lit-radio-btn + label{
    &::before{
      outline: 2px solid $first-main-color;
    }
  }
  >span{
    height: 5px;
    background-color: $first-light-color;
    width: 66%;
    z-index: 0;
    position: absolute;
    bottom: -11px;
    >span{
      transition: 0.2s ease-in-out;
      display: block;
      height: 100%;
      width: 0%;
      background-color: $first-main-color;
    }
  }
}

.inline-radio-btns + .invalid-msg{
  bottom: -38px;
}



.xl-radio-btns{
  display: flex;
  justify-content: space-evenly;
  .form-check{
    padding: 0;
    margin: 0;
  }
  input{
    display: none;
  }
  input + label{
    width: 80px;
    height: 80px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $first-main-color;
    color: $first-main-color;
    transition: 0.2s ease-in-out;
    background-color: white;
    outline: solid 3px white;
    &:hover{
      transition: 0.2s ease-in-out;
      cursor: pointer;
      outline: solid 3px $first-light-color;
      outline: $first-main-color solid 3px;
    }
  }
  input:checked + label{
    background-color: $first-main-color;
    color: white;
    transform: scale(110%);
    font-weight: 600;
  }

  .flag-1-radio + label{
    border: 1px solid $flag-color-1;
    color: $flag-color-1;
    &:hover{
      outline: $flag-color-1-light solid 3px;
    }
  }
  .flag-1-radio:checked + label{
    background-color: $flag-color-1;
    color: white;
  }

  .flag-2-radio + label{
    border: 1px solid $flag-color-2;
    color: $flag-color-2;
    &:hover{
      outline: $flag-color-2-light solid 3px;
    }
  }
  .flag-2-radio:checked + label{
    background-color: $flag-color-2;
    color: white;
  }

  .flag-3-radio + label{
    border: 1px solid $flag-color-3;
    color: $flag-color-3;
    &:hover{
      outline: $flag-color-3-light solid 3px;
    }
  }
  .flag-3-radio:checked + label{
    background-color: $flag-color-3;
    color: white;
  }

}
