.slider {
  -webkit-appearance: none;
  height: 10px;
  background: linear-gradient(to right, $first-main-color 0%, $first-main-color 50%, $light-grey 50%, $light-grey 100%);
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 3px;
  background: $first-light-color;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover{
    background: $first-main-color;
    transform: scale(125%);
  }
}


.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  border-radius: 3px;
  background: $first-light-color;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover{
    background: $first-main-color;
    transform: scale(125%);
  }
}
