.tw-table{
  display: block;
  overflow-x: auto;
  th{
    background-color: $first-flag-color;
    color: white;
    font-weight: 400;
    padding: 10px;
  }
  td{
    border-bottom: solid 1px grey;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    width: fit-content;
  }
}

.no-wrap{
  white-space: nowrap;
}

.light-table{
  display: block;
  overflow-x: auto;
  table-layout: auto;
  width: 100%;
  th{
    color: $first-main-color;
    font-weight: 600;
    padding: 10px;
  }
  tr {
    border-bottom: solid 1px lightgrey;
  }
  tr:last-child {
    border-bottom: none;
  }

  td{
    padding: 5px 10px;
  }
  td:first-child {
    min-width: 300px;
    white-space: nowrap;
  }
  .col-stretch {
    width: 100%;
    white-space: nowrap;
  }
  .vertical-align-bottom{
    vertical-align: middle;
  }
  .fit-content{
    width: fit-content;
  }
}

.list-table {
  border-collapse: collapse;
  th{
    font-weight: 500;
    padding-left: 5px;
  }
  tbody > tr{
    background-color: $first-light-lighter;
    vertical-align: middle;
    border-bottom: white solid 5px;
    th{
      background-color: white;
    }
  }
  td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

}
