.div-align > div {
  padding-left: 0;
}

.toggle{
  display: none;
}

.toggle + label {
  width: 80%;
  user-select: none;
  display: flex;
  align-items: center;

  &::before{
    cursor: pointer;
    content: '';
    width: 50px;
    height: 26px;
    background-color: $light-grey;
    border: solid 1px $first-light-color;
    border-radius: 50em;
    position: absolute;
    right: 0px;
    transition: 0.2s ease-in-out;
  }

  &::after{
    cursor: pointer;
    content: '';
    width: 20px;
    height: 20px;
    background-color: $first-light-color;
    border-radius: 50em;
    position: absolute;
    right: 27px;
    // top: 3px;
    transition: 0.2s ease-in-out;
  }
}


.toggle:checked + label {
  &::before{
    background-color: $first-light-color;
    border: solid 1px $first-main-color;
  }
  &::after{
    background-color: $first-main-color;
    right: 3px;
  }
}

.toggle.r-30 + label {
  &::before{
    right: 30px;
  }
  &::after{
    right: 57px;
  }
}

.toggle:checked.r-30 + label {
  &::after{
    right: 33px;
  }
}

.toggle.centered + label {
  color: transparent;
  &::before{
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  &::after{
    right: 23px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}

.toggle:checked.centered + label {
  &::after{
    right: 0px;
    left: 23px;
  }
}
