.ctn{
  padding: 0 10vw;
  margin-top: 5vh;
}

.top-mg{
  padding-top: 80px;
}

.big-header{
  margin-top: 80px;
  margin-bottom: 40px;
  color: $first-main-color;
}

.flex-resp {
  display: flex;
}

.stress {
  background: linear-gradient(180deg,rgba(255,255,255,0) 65%, $first-light-color 65%);
  font-weight: bolder;
  padding-bottom: 0.05em;
  width: min-content;
}

.stress-dark {
  background: linear-gradient(180deg,rgba(255,255,255,0) 65%, $first-main-darker 65%);
  font-weight: bolder;
  padding-bottom: 0.05em;
  width: min-content;
}

.center-text {
  text-align: center;
}

.light-bg{
  background-color: $first-light-color;
}

.lighter-bg{
  background-color: $first-light-lighter;
}

.list-inline{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    display: inline;
  }
  .early-resp-900{
    li{
      display: list-item;
    }
  }
}

.white-link{
  color: white;
  font-weight: 300;
  &:hover{
    color: white;
    font-weight: 500;
  }
}

.white-link.fw-6{
  &:hover{
    font-weight: 600;
  }
}

.color-link{
  color: $first-main-color;
  font-weight: 300;
  &:hover{
    color: $first-main-color;
    font-weight: 500;
  }
}

.sm-thin-text{
  font-size: 15px;
  font-weight: 100;
}

.sm-text{
  font-size: 12px;
}

.white-wrapper{
  background-color: white;
  // margin: 0 5vw;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 100px;
}

.mb-2-resp{
  margin-bottom: 0;
}

.white-wrapper-narrow-content{
  background-color: white;
  margin: 0 15vw;
  min-height: 100vh;
  padding: 80px 40px 100px 40px;
}


@media(max-width: 1250px) {
  .early-resp-1250 {
    display: block;
    .mg-resp-r{
      margin-right: 0;
    }
    .mg-resp-l{
      margin-left: 0;
    }
  }
}

@media(max-width: 1000px) {
  .early-resp-1000 {
    display: block;
    .mg-resp-r{
      margin-right: 0;
    }
    .mg-resp-l{
      margin-left: 0;
    }
  }
}

@media(max-width: 900px) {
  .early-resp-900 {
    display: block;
    .mg-resp-r{
      margin-right: 0;
    }
    .mg-resp-l{
      margin-left: 0;
    }
  }
}

@media(max-width: 720px) {
  .flex-resp {
    display: block;
  }
  .light-bg{
    padding-top: 40px;
  }
  .mb-2-resp{
    margin-bottom: 0.5rem;
  }
  .white-wrapper-narrow-content{
    background-color: white;
    margin: 0 5vw;
    padding: 80px 20px 100px 20px;
  }

}

.full-width{
  width: 100%;
}

.bolder{
  font-weight: bolder;
}

.downsize90{
  transform: scale(90%);
}
.downsize70{
  transform: scale(70%);
}

.green-color{
  color: green;
}

.red-color{
  color: red;
}

.grey-color{
  color: grey;
}

.white-line{
  border-bottom: solid 2px white;
}

.light-list {
  margin: 0;
  font-weight: 200;
  color: $dark-grey;
}

.round-shadow-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}

.subtle-shadow{
  box-shadow: 4px 6px 8px rgba(0,0,0,0.5);
}

.mg-resp-l{
  margin-left: 10px;
  @media(max-width: 720px) {
    margin-left: 0;
    }
}

.mg-resp-r{
  margin-right: 10px;
  @media(max-width: 720px) {
    margin-right: 0;
    }
}

.img-contain{
  object-fit: contain;
}

.bottom-border-black{
  border-bottom: solid 1.5px black;
}

.bottom-border-white{
  border-bottom: solid 1.5px white;
}

.sheet-pad{
  padding: 70px 30px 70px 30px;
}

.sheet-pad-y{
  padding-top: 70px;
  padding-bottom: 70px;
}

@media(max-width: 720px) {
  .resp-overflow-hidden{
    overflow: hidden;
  }
}

.grey-info-box{
  padding: 20px;
  background-color: $light-grey;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.desktop-only{
  @media(max-width: 720px) {
    display: none;
  }
  .early-resp-900 {
    @media(max-width: 900px) {
      display: none;
    }
  }
}

.mobile-only{
  @media(min-width: 720px) {
    display: none;
  }
  .early-resp-900 {
    @media(min-width: 900px) {
      display: none;
    }
  }
  .early-resp-1000 {
    @media(min-width: 1000px) {
      display: none;
    }
  }
}

.g-recaptcha {
  transform:scale(0.85);
  transform-origin:0 0;
}

.half-width-resp{
  width: 50%;
  min-width: 0;
  @media(max-width: 720px) {
    width: 100%;
  }
}

.early-resp-1000 {
  @media(max-width: 1000px) {
    .half-width-resp{
      width: 100%;
    }
  }
}

.line-clamp-2{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
