.ctn{
  padding: 0 5vw;
  margin-top: 5vh;
}

.top-mg{
  padding-top: 80px;
}

.big-header{
  margin-top: 80px;
  margin-bottom: 40px;
  color: $first-main-color;
}

.big-header-with-bg{
  margin-bottom: 40px;
  color: $first-main-color;
}

.flex-resp {
  display: flex;
}

.stress {
  background: linear-gradient(180deg,rgba(255,255,255,0) 65%, rgba(83, 28, 179, 0.2) 65%);
  font-weight: bolder;
  padding-bottom: 0.05em;
}

.center-text {
  text-align: center;
}

.light-bg{
  background-color: rgb(222, 214, 236);
  top: 0;
  padding-top: 80px;
  padding-bottom: 20px;
}

.list-inline{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    display: inline;
  }
}

.white-text{
  color: white;
}

.white-link{
  color: white;
  font-weight: 200;
  &:hover{
    color: white;
    font-weight: 400;
  }
}

.sm-thin-text{
  font-size: 15px;
  font-weight: 100;
}

.white-wrapper{
  background-color: white;
  margin: 0 5vw;
  min-height: 100vh;
  padding: 80px 20px 100px 20px;
}

.white-wrapper-sm{
  background-color: white;
  margin: 0 5vw;
  padding: 80px 20px 20px 20px;
}

@media(max-width: 720px) {
  .flex-resp {
    display: block;
  }
  .light-bg{
    padding-top: 40px;
  }
}

.full-width{
  width: 100%;
}

.primary-text-color{
  color: $first-main-color;
}

.bolder{
  font-weight: bolder;
}

.downsize90{
  transform: scale(90%);
}

.main-color{
  color: $first-main-color;
  background-color: white;
}

.green-color{
  color: green;
}

.grey-color{
  color: grey;
}

.white-line{
  border-bottom: solid 2px white;
}

.light-list {
  margin: 0;
  font-weight: 200;
  color: $dark-grey;
}

.round-shadow-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}
