// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/tom-select";

// External libraries
@import "flatpickr/dist/flatpickr";
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "trix";
// @import "tom-select/dist/css/tom-select.default.css";

// Your CSS partials
@import "components/index";
@import "pages/index";

// removing defaults
a {
  text-decoration: none;
  color: $dark-grey;
  &:hover {
    color: $dark-grey;
  }
}

button {
  // all: inherit;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

p {
  font-weight: 300;
  color: $dark-grey;
}

span {
  font-family: $body-font;
}
