    <h1 style="font-family: sans-serif; font-weight: 600; font-size: 25px; color: #531cb3;">Hello <%= @resource.first_name %>!</h1>
    <br>

    <p style="font-family: sans-serif;">Alors comme ça on a oublié son mot de passe ?</p>
    <p style="font-family: sans-serif;">Allez, c'est pas bien grave. Suffit de cliquer ici pour retrouver les supers assos qui n'attendent que toi !</p>
    <br>

    <%= link_to 'Réinitialiser le mot de passe', edit_password_url(@resource, reset_password_token: @token), style: "font-size: 15px;
        padding: 10px 20px;
        background-color: #531cb3;
        color: white;
        border-radius: 20px;
        font-family: sans-serif;
        text-decoration: none;
        font-weight: 600;
        max-width: 210px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;" %>
    <br>
    <br>

    <p style="font-family: sans-serif;">Le mot de passe restera inchangé tant qu'un nouveau n'aura pas été créé depuis ce lien.</p>
    <p style="font-family: sans-serif;">Si tu n'es pas à l'origine de cette demande de réinitialisation, pas de panique ! Tu peux ignorer ce message.</p>
    <p style="font-family: sans-serif;">En cas de pépin n'hésite pas à nous contacter ici: <a style="font-weight: bolder; color: #531cb3;" href="mailto:contact@demain.works">contact@demain.works</a></p>
    <br>
