<div class="mb-40 w-100 max-w-400">

  <%= render partial: "company_user/shared/offer_card", locals: {offer: @candidacy.offer} %>

  <div class="bg-shade p-20 pt-0 w-100 mb-20">
    <h6 class="text-main mb-10 fw-7">Avancement</h6>
    <%= render partial: "progress_table" %>
  </div>

  <div class="mb-40">
  </div>
</div>
