<% @tab = 6 %>
<h5 class="fw-7 text-main mb-30">Candidatures</h5>

<div class="d-flex md-resp-flex-col">
  <%= render partial: "summary" %>
  <div class="ml-40 md-resp-ml-0 w-100 max-w-400">
    <div class="w-100">

      <div class="mb-20">
        <h6 class="text-main mb-10 fw-7">Vos messages</h6>
        <%= render partial: "messages" %>
      </div>

      <div class="mb-40">
        <h6 class="text-main mb-10 fw-7">Et maintenant ?</h6>
        <%= render partial: "notice" %>
      </div>

    </div>
  </div>
</div>
